.root {
	display: flex;
	justify-content: space-between;
}

.phone {
	flex-basis: 20%;

	@media screen and (max-width: 767px) {
		flex-basis: 28%;
	}
}

.phone img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
