.social__link {
	display: flex;
	align-items: center;
}

.social__link a {
	display: flex;
	justify-self: start;
}

.social__link:hover .arrow__top {
	transform: translate(50%, -100%);
}

.social__link:hover .arrow__bottom {
	transform: translate(0%, 0%);
}
